// ============ Reset Style ==================
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p{margin: 0;}
a{
  display: inline-block;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: $primary-color;
}


// ======== Base Style =============
.highlight-text {
  color: $secondary-color;
}

.button {
  border-radius: 6px;
  border: none;
  padding: 12px 15px;
  background-color: transparent;
  border: 2px solid $secondary-color;
  color: $secondary-color;
  font-weight: bold;
  letter-spacing: 1px;
}


// ========== App Component Style =============
main{
  margin-top: 15px;
  background-color: lighten($primary-color, 75%);
  border-radius: 15px;
  padding: 15px;

  height: calc(100vh - 30px);
  overflow-y: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 15px;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}

.section-title{
  font-size: 50px;
  text-transform: uppercase;
  margin: 30px 0;
}

@media (max-width: 768px) {
  main{
    height: calc(88vh);
  }
}