/* Large Device lg */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .button {
    padding: 10px 45px;
  }
  .about {
    .info {
      flex-direction: column-reverse;

      .info-left {
        width: 100%;
        text-align: center;
      }
    }

    .skill-area__title {
      margin-top: 60px;
      margin-bottom: 15px;
    }
  }
}

/* Medium Device md */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .button {
    padding: 10px 45px;
  }

  .about {
    .info {
      flex-direction: column-reverse;

      .info-left {
        width: 100%;
        text-align: center;
        &__name {
          font-size: 40px;
        }
      }

      .info-right {
        .my-image {
          width: 200px;
        }
      }
    }

    .skill-area__title {
      font-size: 40px;
      margin-top: 60px;
      margin-bottom: 15px;
    }
  }
}

/* Medium To Extra Small Device */
@media only screen and (max-width: 767px) {
  .button {
    padding: 10px 45px;
  }

  .about {
    .info {
      flex-direction: column-reverse;

      .info-left {
        width: 100%;
        text-align: center;
        &__name {
          font-size: 40px;
        }
      }

      .info-right {
        .my-image {
          width: 200px;
        }
      }
    }

    .skill-area__title {
      font-size: 40px;
      margin-top: 60px;
      margin-bottom: 15px;
    }
  }
}

/* Small Device sm */
@media only screen and (min-width: 576px) and (max-width: 767px) {
}

/* Extra Small device */
@media only screen and (max-width: 575px) {
}
